{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign publication_year = post.date | default: "1900-01-01" | date: "%Y" %}
{% assign citation_authors = post.citation | split: ". (" | first %}

<li class="cv-publication" itemscope itemtype="http://schema.org/CreativeWork">
  <h3 class="cv-publication-title" itemprop="headline">
    {% if post.paperurl %}
      <a href="{{ post.paperurl }}">{{ title }}</a>
    {% elsif post.link %}
      <a href="{{ post.link }}">{{ title }}</a>
    {% else %}
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    {% endif %}
  </h3>

  <p class="cv-publication-meta cv-publication-authors">
    {{ post.scholar_authors | default: citation_authors }}
  </p>

  <p class="cv-publication-meta cv-publication-venue">
    {% if post.scholar_venue %}
      {{ post.scholar_venue }}
    {% elsif post.category == "manuscripts" %}
      Available at {{ post.venue }}, {{ publication_year }}
    {% else %}
      {{ publication_year }} {{ post.venue }}
    {% endif %}
  </p>
</li>
